<header class="header">
  <h1>User List</h1>
</header>
<main class="main">
  <div class="center-container">
    <h2 class="sub-title">Import data</h2>
    <p>
      Click the button below to upload your users from a csv file. Each column of the first row in this file should be the keys.
    </p>
    <button class="upload-button button button-solid button-solid-primary">
      Upload CSV
      <input (change)="handleFileChange($event)" type="file">
    </button>
    <h2 class="sub-title">View Users</h2>
    <p>
      You can view and filter your users based on any criteria you set using filters below.
    </p>
    <form *ngFor="let filter of filter.controls; trackBy:trackByFn; let inx = index;" (submit)="handleSubmit($event)" class="filter-row">
      <ng-container [formGroup]="filter">
        <select required *ngIf="csvService.columns$ | async; let columns" class="input input-select" formControlName="field">
          <option value="" selected disabled hidden>Choose here</option>
          <option *ngFor="let column of columns; let i = index" [selected]="filter.field && +filter.field === i" [value]="i">
            Option {{ i }} ({{ column }})
          </option>
        </select>
        <select required class="input input-select" formControlName="action">
          <option value="" selected disabled hidden>Choose here</option>
          <optgroup label="String or Number">
            <option *ngFor="let action of stringAndNumberActions" [selected]="filter.action === action" [value]="action">
              {{ action }}
            </option>
          </optgroup>
          <optgroup label="String">
            <option *ngFor="let action of stringActions" [value]="action">{{ action }}</option>
          </optgroup>
        </select>
        <input required class="input input-text" type="text" formControlName="value">
        <button type="submit" class="button button-link button-link-primary">Filter results</button>
        <div (click)="removeFilter(inx)" class="button button-link button-link-danger">Delete</div>
      </ng-container>
    </form>
    <button (click)="addFilter()" class="add-filter-button button button-link button-link-primary">Add a filter</button>
    <app-table class="table" [filters]="filters"></app-table>
  </div>
</main>